<div>
  <label for="clienteId">ID del Cliente:</label>
  <input type="number" id="clienteId" [(ngModel)]="clienteId">

  <label for="cantidad">Cantidad:</label>
  <input type="number" id="cantidad" [(ngModel)]="cantidad">

  <button (click)="realizarDeposito()">Realizar Depósito</button>
  <button (click)="realizarRetiro()">Realizar Retiro</button>
  <button (click)="calcularSaldoTotal()">Calcular Saldo Total</button>

  <p>{{ mensaje }}</p>

  <h3>Clientes:</h3>
  <ul>
    <li *ngFor="let cliente of obtenerClientes()">
      {{ cliente.mostrarEstado() }}
    </li>
  </ul>
</div>
