<div class="container">
  <h3>Todos los productos:</h3>
  <ul>
    <li *ngFor="let producto of productos">
      {{ producto.nombre }} - Precio: {{ producto.precio+"€" }} - Categoría: {{ producto.categoria }}
    </li>
  </ul>
  <h2>Transformación de Listado de Productos</h2>
  <p>Nombres de productos con precio > 10€ : {{ nombresProductosMayorA10}}</p>
  <p>Precio promedio de "alimentos": {{ precioPromedioAlimentos+"€" }}</p>
  <h3>Productos con descuento:</h3>
  <ul>
    <li *ngFor="let producto of productosConDescuento">
      {{ producto.nombre }} - Precio: {{ producto.precio+"€" }} - Categoría: {{ producto.categoria }}
    </li>
  </ul>

</div>
