<div class="center-content">
  <h1>Ejercicios UT4</h1>
</div>
<h2>Ejercicio 1: Catálogo de películas</h2>
<app-catalogo-peliculas></app-catalogo-peliculas>
<h2>Ejercicio 2: Gestión de pedidos en un restaurante</h2>
<app-gestionpedidos></app-gestionpedidos>

<h2>Ejercicio 3: analisis de datos meteorologicos</h2>
<app-datos-meteorologicos></app-datos-meteorologicos>

<h2>Ejercicio 4: Biblioteca de palabras claves</h2>
<app-biblioteca-palabras></app-biblioteca-palabras>

<h2>Ejercicio5: Banco de clientes</h2>
<app-banco-clientes></app-banco-clientes>

<h2>Ejercicio 6: Zoologico virtual</h2>
<app-zoologico-virtual></app-zoologico-virtual>

<h2>Ejercicio 7: Listado de productos</h2>
<app-transformacion-listado-productos></app-transformacion-listado-productos>
