<div class="center-content">
  <h1>Ejercicios UT4</h1>
</div>
<h2>Ejercicio 1: Catálogo de películas</h2>
<app-catalogo-peliculas></app-catalogo-peliculas>
<h2>Ejercicio 2: Gestión de pedidos en un restaurante</h2>
<app-gestion-pedidos></app-gestion-pedidos>

<h2>Ejercicio 3: analisis de datos meteorologicos</h2>
<app-datos-meteorologicos></app-datos-meteorologicos>

<h2>Ejercicio 4: Biblioteca de palabras claves</h2>
<app-biblioteca-palabras></app-biblioteca-palabras>

<h2>Ejercicio5: Banco de clientes</h2>
<app-banco-clientes></app-banco-clientes>

<h2>Ejercicio 6: Zoologico virtual</h2>
<app-zoologico-virtual></app-zoologico-virtual>

<h2>Ejercicio 7: Listado de productos</h2>
<app-transformacion-listado-productos></app-transformacion-listado-productos>

<h2>Ejercicio 8: Clasificación de palabras por longitud</h2>
<app-clasificacion-palabras></app-clasificacion-palabras>

<h2>Ejercicio 9: Sistema de vehículos</h2>
<app-sistema-vehiculos></app-sistema-vehiculos>

<h2>Ejercicio 10: Sistema de empleados</h2>
<app-sistema-empleados></app-sistema-empleados>

<h2>Ejercicio 11: Figura Geométrica</h2>
<app-figura-geometrica></app-figura-geometrica>
